
.main {
    display: flex;
    flex-direction: row;
}

.area-texto {
    width: 60%;
}

.imagen-home{
    width: 40%;
}

img{
    width: 400px;
    height: 400px;
}
.texto-home{
    
    width: 400px;
    margin-left: 10%;
}

.texto-secundario{
    width: 400px;
    margin-left: 10%; 
}


