nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  nav a {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .navbar{
    display:grid;
    grid-template-rows: repeat(1, 5fr); 
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    color: blue;
  }
  
  .navbar span {
    color: blue;
	/* font-family: Comic Sans MS; */
    font-size: 1.5em;
    font-weight: bold;
}